@import url("https://fonts.googleapis.com/css2?family=Montserrat:ital,wght@0,100;0,200;0,300;0,400;0,500;0,600;0,700;0,800;0,900;1,100;1,200;1,300;1,400;1,500;1,600;1,700;1,800;1,900&display=swap");
* {
  text-decoration: none;
  margin: 0;
  padding: 0;
  border: 0;
  font-size: 100%;
  -webkit-box-sizing: border-box;
          box-sizing: border-box;
  font-family: "Montserrat", sans-serif;
  vertical-align: baseline;
}

body {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-orient: vertical;
  -webkit-box-direction: normal;
      -ms-flex-direction: column;
          flex-direction: column;
  -ms-flex-line-pack: stretch;
      align-content: stretch;
  -webkit-box-pack: stretch;
      -ms-flex-pack: stretch;
          justify-content: stretch;
}

/*-------------------------------------------*/
header {
  height: 50vh;
  width: 100%;
  position: relative;
}

header nav {
  position: absolute;
  z-index: 1;
  margin: auto;
  height: 15%;
  width: 100%;
}

header nav .Nav_Container {
  background-color: rgba(255, 255, 255, 0.9);
  width: 100%;
  height: 100%;
  position: relative;
  z-index: 1;
  opacity: 1;
}

header nav .Nav_Container #Logo {
  height: 100%;
  display: inline-block;
}

header nav .Nav_Container #Logo img {
  display: block;
  position: relative;
  left: 5%;
  top: 10%;
  height: 80%;
}

header nav .Nav_Container #Contact_Btn_id {
  font-family: "Montserrat",sans-serif;
  height: 70%;
  float: right;
}

header nav .Nav_Container #Contact_Btn_id .Contact_Btn {
  position: relative;
  top: 20%;
  right: 10%;
  height: 100%;
  z-index: 1;
  background-color: #0071bc;
  border-radius: 10px;
  -webkit-box-shadow: 1px 2px 5px rgba(0, 0, 0, 0.3);
          box-shadow: 1px 2px 5px rgba(0, 0, 0, 0.3);
  width: 12vh;
  font-size: 1.5vh;
}

@media only screen and (min-width: 640px) {
  header nav .Nav_Container #Contact_Btn_id .Contact_Btn {
    width: 20vh;
    font-size: 2.3vh;
  }
}

header nav .Nav_Container #Contact_Btn_id .Contact_Btn div {
  text-align: center;
  font-weight: bold;
  color: white;
  position: relative;
  top: 50%;
  -webkit-transform: translateY(-50%);
          transform: translateY(-50%);
}

header nav .Nav_Container #Contact_Btn_id .Contact_Btn:hover {
  background-color: #005c98;
  cursor: pointer;
}

header #BG {
  height: 100%;
  background: url(/img/Main/BG.webp);
  background-size: cover;
  background-repeat: no-repeat;
  background-attachment: fixed;
  opacity: 1;
}

header #BG .head_box {
  background-color: rgba(255, 255, 255, 0.8);
  border-radius: 30px;
  position: relative;
  top: 25%;
  height: 65%;
  width: 70vw;
  margin: auto;
}

header #BG .head_box h1 {
  text-align: center;
  font-weight: bold;
  position: relative;
  top: 50%;
  -webkit-transform: translateY(-50%);
          transform: translateY(-50%);
  font-size: 4vw;
  color: black;
}

header #BG .head_box h1 span {
  color: #0071bc;
}

@media screen and (min-height: 360px) {
  header #BG .head_box h1 {
    font-size: 4vw;
  }
}

@media screen and (min-height: 640px) {
  header #BG .head_box h1 {
    font-size: 6vw;
  }
}

@media only screen and (min-width: 960px) {
  header #BG .head_box h1 {
    font-size: 350%;
  }
}

@media only screen and (min-width: 640px) {
  header {
    height: 75vh;
  }
}

/*-------------------MAIN---------------------*/
/*----------------------------*/
.Dynamic_Services {
  display: -ms-grid;
  display: grid;
  overflow: hidden;
  -ms-grid-columns: 1fr 3fr 1fr;
      grid-template-columns: 1fr 3fr 1fr;
  -ms-grid-rows: auto;
      grid-template-rows: auto;
  margin-top: 2%;
}

.Dynamic_Services .SER {
  text-align: center;
  font-weight: bold;
  font-size: 4vw;
  margin: 0px auto;
  color: #0071bc;
  position: relative;
  top: 5px;
}

.Dynamic_Services img {
  width: 12vw;
  position: relative;
  -webkit-transform: translateY(-50%);
          transform: translateY(-50%);
  margin: auto;
  -webkit-animation: Mov 2s;
          animation: Mov 2s;
  -webkit-animation-iteration-count: infinite;
          animation-iteration-count: infinite;
  -webkit-animation-timing-function: ease-out;
          animation-timing-function: ease-out;
}

@-webkit-keyframes Mov {
  from {
    top: 10%;
  }
  to {
    top: 15%;
    -webkit-transform: scale(0.8);
            transform: scale(0.8);
  }
}

@keyframes Mov {
  from {
    top: 10%;
  }
  to {
    top: 15%;
    -webkit-transform: scale(0.8);
            transform: scale(0.8);
  }
}

/*----------------------------*/
.Picture_Container {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -ms-flex-wrap: wrap;
      flex-wrap: wrap;
  -webkit-box-pack: center;
      -ms-flex-pack: center;
          justify-content: center;
  width: 90%;
  margin: auto;
}

.Picture_Container figure > img {
  /* > direct decendant selector */
  display: block;
  width: 100%;
  /* > fit the image width to its parent 100% */
}

.Picture_Container figure {
  -webkit-box-flex: 1;
      -ms-flex-positive: 1;
          flex-grow: 1;
  width: 100%;
  margin: 0.5% 0.5%;
}

@media only screen and (min-width: 640px) {
  .Picture_Container figure {
    width: 50%;
  }
}

@media only screen and (min-width: 960px) {
  .Picture_Container figure {
    width: 33.3333%;
  }
}

/*--------------------------------------------------*/
footer {
  overflow: hidden;
  font-weight: bold;
  height: 100%;
  width: 100%;
  position: relative;
  /*
    background: linear-gradient(180deg, #004472, $Light_BR);
*/
  color: #0071bc;
  text-align: left;
  padding: 5%;
}

footer #footer_container {
  border-top: 0.6vw solid #0071bc;
  border-top-style: dotted;
  position: relative;
  z-index: 2;
}

footer #footer_container .Contact_Us_Label {
  margin-top: 3%;
  text-align: center;
  font-size: 6vw;
  color: #0071bc;
}

@media only screen and (min-width: 640px) {
  footer #footer_container .Contact_Us_Label {
    font-size: 7vw;
  }
}

footer #footer_container .Contact_Us_Text {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-orient: vertical;
  -webkit-box-direction: normal;
      -ms-flex-direction: column;
          flex-direction: column;
  width: 100%;
  margin-top: 2%;
  font-size: 80%;
  color: rgba(0, 0, 0, 0.7);
  text-align: justify;
}

footer #footer_container .Contact_Us_Text img {
  width: 6%;
  position: relative;
  top: 0.2em;
  margin-right: 5px;
}

@media only screen and (min-width: 960px) {
  footer #footer_container .Contact_Us_Text img {
    top: 0.5em;
  }
}

@media only screen and (min-width: 640px) {
  footer #footer_container .Contact_Us_Text img {
    width: 5%;
  }
}

footer #footer_container .Contact_Us_Text span, footer #footer_container .Contact_Us_Text h4 {
  display: inline;
  color: #0071bc;
}

@media only screen and (min-width: 360px) {
  footer #footer_container .Contact_Us_Text {
    font-size: 100%;
  }
}

@media only screen and (min-width: 640px) {
  footer #footer_container .Contact_Us_Text {
    text-align: left;
    font-size: 180%;
    -webkit-box-pack: center;
        -ms-flex-pack: center;
            justify-content: center;
    -ms-flex-line-pack: baseline;
        align-content: baseline;
  }
}

@media only screen and (min-width: 960px) {
  footer #footer_container .Contact_Us_Text {
    text-align: left;
    font-size: 2.8vw;
    -webkit-box-pack: baseline;
        -ms-flex-pack: baseline;
            justify-content: baseline;
    -ms-flex-line-pack: baseline;
        align-content: baseline;
    position: relative;
  }
}

footer #footer_container .Contact_Us_Text div {
  margin-top: 10px;
}

@media only screen and (min-width: 640px) {
  footer #footer_container .Contact_Us_Text div {
    margin-top: 20px;
    font-weight: 500;
  }
}

#my-form {
  margin-top: 5%;
  display: -ms-grid;
  display: grid;
  -ms-grid-columns: 50% 50%;
      grid-template-columns: 50% 50%;
  -ms-grid-rows: 1fr 1fr 3fr;
      grid-template-rows: 1fr 1fr 3fr;
  grid-row-gap: 10px;
}

#my-form input {
  padding-top: 1vh;
  padding-bottom: 1vh;
  padding-left: 1vw;
  width: 95%;
  margin: auto;
  font-size: 100%;
  border: 2px solid #0071bc;
  border-left: 10px solid #0071bc;
}

@media only screen and (min-width: 640px) {
  #my-form input {
    padding-top: 3vh;
    padding-bottom: 3vh;
    font-size: 120%;
  }
}

#my-form textarea {
  z-index: 2;
  resize: none;
  -ms-grid-column: 1;
  -ms-grid-column-span: 2;
  grid-column: 1/3;
  padding-left: 1vw;
  padding-top: 2vh;
  width: 100%;
  margin: 0 auto;
  width: 97.5%;
  font-size: 120%;
  border: 2px solid #0071bc;
  border-left: 10px solid #0071bc;
}

#my-form-button {
  z-index: 2;
  width: 40%;
  height: 6vw;
  -ms-grid-column-align: end;
      justify-self: end;
  margin-right: 2.5%;
  background-color: #0071bc;
  color: white;
  border-radius: 4px;
  font-size: 2.5vw;
}

.Drawing {
  width: 300px;
  height: 300px;
  background-color: #0071bc;
  position: absolute;
  left: 130%;
  bottom: 0;
  -webkit-transform: translateX(-100%);
          transform: translateX(-100%);
}

@media only screen and (min-width: 640px) {
  .Drawing {
    left: 100%;
  }
}

.Drawing::after {
  content: "";
  padding: 100%;
  background-color: white;
  position: absolute;
  left: -100%;
  overflow: hidden;
  bottom: 0;
  border-radius: 100%;
}
