
$mobile_360: 360px;
$mobile_640: 640px;
$mobile_960: 960px;

@mixin mobile_640 {
    @media only screen and (min-width: $mobile_640) {
        @content;
    }
}

@mixin mobile_360 {
    @media only screen and (min-width: $mobile_360) {
        @content;
    }
}

@mixin mobile_960 {
    @media only screen and (min-width: $mobile_960) {
        @content;
    }
}


@mixin mobile_360_H {
    @media screen and (min-height: 360px)
    {
        @content;
    }
}

@mixin mobile_640_H {
    @media screen and (min-height: 640px)
    {
        @content;
    }
}

